.mb-60 {
    margin-bottom: 60px;
}
.services-inner {
    border: 2px solid #48c7ec;
    margin-left: 35px;
    transition: .3s;
}
.our-services-img {
    float: left;
    margin-left: -36px;
    margin-right: 22px;
    margin-top: 28px;
}
.our-services-text {
    padding-right: 10px;
}
.our-services-text {
    overflow: hidden;
    padding: 28px 0 25px;
}
.our-services-text h4 {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 8px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
.our-services-text h4::before {
    background: #ec6d48 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    width: 35px;
}
.our-services-wrapper:hover .services-inner {
    background: #fff none repeat scroll 0 0;
    border: 2px solid transparent;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.our-services-text p {
    margin-bottom: 0;
}
p {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #666;
    margin-bottom: 15px;
}

body{
    margin: 0;
    
    padding: 0;
    background-image: url('/assets/img/1click.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
  }
  header,
  .view {
    height: 100vh;
  }
  
  .navbar
  {
      background-color: transparent;
  }
  
  .navbar ul li a{
      color: #162b24;
     
      text-transform: uppercase;
      font-size: 14px;
  }
  
  
  h1 {
    letter-spacing: 8px;
  }
  
  h5 {
    letter-spacing: 3px;
  }
  
  .hr-light {
    border-top: 3px solid#00695c;
    width: 80px;
  }
  

  #login .container #login-row #login-column #login-box {
    margin-top: 250px;
    max-width: 1000px;
    height: auto;
    /*border: 1px solid #9c9c9c;*/
    left: -10px;
    background: inherit;
    position: absolute;
    overflow: hidden;
  }
  #login .container #login-row #login-column #login-box:before {
    content: "";
    width: 950px;
    height: auto + 50px;
    background: inherit;
    position: absolute;
    left: -30px;
    right: 0;
    top: -25px;
    bottom: 0;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login
    .container
    #login-row
    #login-column
    #login-box
    #login-form
    #register-link {
    margin-top: -85px;
  }
  
  .input-group-text {
    background: #958064!important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
  }