<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body>
<header>
	<!--Navbar-->
	<nav class="navbar navbar-expand-lg navStyle">
		<div class="container-fluid">
		  
		  <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
			<img src="assets/img/โลโก2_1.png"  width="50" height="50" class="d-inline-block align-top" alt="" />
		  <ul class="navbar-nav mr-auto">
		   <li class="nav-item active">
			<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item active">
			<a class="nav-link" href="/login">Login</a>
			</li>
			<li class="nav-item active">
			<a class="nav-link" href="/profile">Profile</a>
			</li>
		  </ul>
		  <form class="form-inline">
			<div class="md-form my-0">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroupPrepend2"> 
					<i class="fa fa-search"></i></span>
				  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
				  </div>
		
			</div>
		  </form>
		  </div>
		</div>
		</nav>

  <div id="login">

<div class="container">
	<div id="login-row" class="row justify-content-center align-items-center">
		<div id="login-column" class="col-md-9">
		  <div id="login-box" class="col-md-12">
	
	<p class="text-justify text-monospace" style="color:#958064;">กรอกข้อมูลส่วนตัว และข้อมูลการติดต่อ ในหน้า Profile เพื่อการใช้งานแอพที่สมบูรณ์ โดยคุณสามารถเลือก Account ได้สองแบบ คือ</p>
	<p class="text-monospace" style="color:#958064;">1. แพทย์</p>
	<p class="text-monospace" style="color:#958064;">2. โรงพยาบาล/เลขาการแพทย์</p>
	<p class="text-danger text-monospace">( *เมื่อเลือกแล้ว ไม่สามารถเปลี่ยนแปลงได้ )</p>

	<h6 class="text-monospace" style="color:#958064;"><ins>เลือกประเภท Account</ins></h6>
	<br>
	<div class="row">
		<div class="col-sm-6 ">
			<a href="/profile" style="text-decoration: none;color:#958064;">
			<div class="our-services-wrapper mb-60">
				<div class="services-inner">
					<div class="our-services-img">
					<img src="assets/img/6434d72ce9e16251c4f41f4e5a146567.png" width="80px" alt="">
					</div>
					<div class="our-services-text" >
						<h4>Doctor</h4>
	  					<p style="color:#958064;"><i class="fa fa-angle-double-right ml-2"></i> ดูรายละเอียดงาน</p>
						<p style="color:#958064;"><i class="fa fa-angle-double-right ml-2"></i> โพสต์งาน</p>
	  					<p style="color:#958064;"><i class="fa fa-angle-double-right ml-2"></i> ตารางงาน</p>
	 					<p style="color:#958064;"><i class="fa fa-angle-double-right ml-2"></i> ติดตามงานที่สนใจ</p>
	  					<p style="color:#958064;"><i class="fa fa-angle-double-right ml-2"></i> รับการแจ้งเตือนต่างๆ</p>

	 <!-- <a href="/profile" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>-->
					</div>
				</div>
			</div>
	</a>	</div>

		<div class="col-sm-6 ">
			<a href="/profile" style="text-decoration: none;color:#958064;">
						<div class="our-services-wrapper mb-60">
							<div class="services-inner">
								<div class="our-services-img">
								<img src="assets/img/130-RealEstate-Blue_real-estate-clinic-polyclinic-hospital-512.png" width="90px" alt="">
								</div>
								
								<div class="our-services-text">
									<h4>Hospital</h4>
				  			 <p style="color:#958064;"><i class="fa fa-angle-double-right ml-2"></i> ดูรายละเอียดงาน</p>
	 			 			 <p style="color:#958064;"><i class="fa fa-angle-double-right ml-2"></i> โพสต์งาน</p>
							 <p style="color:#958064;"><i class="fa fa-angle-double-right ml-2"></i> รับการแจ้งเตือนต่างๆ</p>

							 
								</div>
							</div>
						</div>
					</a></div>
					
					
	</div>
</div>

</div>
</div>
</div>

</div>

</header>
</body>

  


  