<body>

<!--<div class="col-md-12" style="  margin-top: 10px; " >
  <a href="" class="back-login"
    ><i class="fa fa-arrow-left"></i> LOGIN</a
  >
</div>-->


<div id="login">
  <div class="container">
    <div id="login-row" class="row  align-items-start">
      <div id="login-column" class="cols-md-9">
        <div id="login-box" class="col py-9 px-xl-1">
          <div class="text-center">
          <img src="assets/img/โลโก2_1.png"  width="180" height="180"  />
          </div>
          <br />
<h3 class="text-center " style="color: #93a9a4;;"><b>  Terms of use </b></h3>
<br/>


  
<p class="text-break  text-md-center">
  A terms of use is an agreement that a user must agree to and abide by in order 
  to use a website or service. Terms of use (TOU) can go by many other names, 
  including terms of service (TOS) and terms and conditions.</p>
                
        </div>
      </div>
    </div>
  </div>
</div>

<div id="login2">
  <div class="container">
    <div id="login2-row" class="row justify-content-center align-items-center">
      <div id="login2-column" class="cols-sm-2">
        <div id="login2-box" class="col py-3 px-xl-3">
          <nav class="nav navbar navbar-expand-lg" >
            <a class="nav-link active font-weight-bolder" href="/home" style="text-align: justify; color: #93a9a4;">Home</a>
            <a class="nav-link active font-weight-bolder" href="/login" style="text-align: justify; color: #93a9a4;">Log in</a>
            <a class="nav-link active font-weight-bolder" href="/profile" style="text-align: justify; color: #93a9a4;">Profile</a>
            <!--<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
          </nav>
          
        </div>
      </div>
    </div>
  </div>
</div>

</body>