<body>

  <!--<div class="col-md-12" style="  margin-top: 10px; " >
    <a href="" class="back-login"
      ><i class="fa fa-arrow-left"></i> LOGIN</a
    >
  </div>-->
  
  
  <div id="login">
    <div class="container">
      <div id="login-row" class="row  align-items-start">
        <div id="login-column" class="cols-md-9">
          <div id="login-box" class="col py-9 px-xl-1">
            <div class="text-center">
            <img src="assets/img/โลโก2_1.png"  width="180" height="180"  />
            </div>
            <br />
<h3 class="text-center " style="color: #93a9a4;;"><b> Privacy Policy  </b></h3>
<br/>

<p class="text-break">
  A privacy policy is a statement or a legal document (in privacy law) that discloses some 
  or all of the ways a party gathers, uses, discloses, and manages a customer or client's 
  data. It fulfils a legal requirement to protect a customer or client's privacy. Personal
  information can be anything that can be used to identify an individual, not limited to 
  the person's name, address, date of birth, marital status, contact information, 
  ID issue, and expiry date, financial records, credit information, medical history, 
  where one travels, and intentions to acquire goods and services.[1] In the case of a
  business it is often a statement that declares a party's policy on how it collects, 
  stores, and releases personal information it collects. It informs the client what 
  specific information is collected, and whether it is kept confidential, shared with
  partners, or sold to other firms or enterprises.[2] Privacy policies typically 
  represent a broader, more generalized treatment, as opposed to data use statements, 
  which tend to be more detailed and specific.
  The exact contents of a certain privacy policy will depend upon the applicable law and 
  may need to address requirements across geographical boundaries and legal jurisdictions.
  Most countries have their own legislation and guidelines of who is covered, what 
  information can be collected, and what it can be used for. In general, data protection 
  laws in Europe cover the private sector as well as the public sector. Their privacy 
  laws apply not only to government operations but also to private enterprises and 
  commercial transactions.[3]
  California Business and Professions Code, Internet Privacy Requirements (CalOPPA) 
  mandate that websites collecting Personally Identifiable Information (PII) from 
  California residents must conspicuously post their privacy policy.[4] (See also 
  Online Privacy Protection Act)
</p>
</div>
</div>
</div>
</div>
</div>

<div id="login2">
<div class="container">
<div id="login2-row" class="row justify-content-center align-items-center">
<div id="login2-column" class="cols-sm-2">
  <div id="login2-box" class="col py-3 px-xl-3">
    <nav class="nav navbar navbar-expand-lg" >
      <a class="nav-link active font-weight-bolder" href="/home" style="text-align: justify; color: #93a9a4;">Home</a>
      <a class="nav-link active font-weight-bolder" href="/login" style="text-align: justify; color: #93a9a4;">Log in</a>
      <a class="nav-link active font-weight-bolder" href="/profile" style="text-align: justify; color: #93a9a4;">Profile</a>
      <!--<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
    </nav>
    
  </div>
</div>
</div>
</div>
</div>

</body>           
