body {
    margin: 0;
    
    padding: 0;
    background-image: url('/assets/img/6page.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
  }

  .navbar
  {
      background-color: transparent;
  }
  
  .navbar ul li a{
      color: #958064;
     
      text-transform: uppercase;
      font-size: 14px;
  }
  
  
  h1 {
    letter-spacing: 8px;
  }
  
  h5 {
    letter-spacing: 3px;
  }

  .input-group-text {
    background: rgb(195, 215, 214) !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
  }
  .input_user,
  .input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }

  .video-fluid {
    width: 100vh;
    height: 100vh;
    margin-top: 250px;
    max-width: 600px;
    height: auto;
    left: 170px;
    background: inherit;
    position: absolute;
    overflow: hidden;
}